{% comment %}
  Requires:
    -product: {Object} product object.

  Example:
    {% for foo in collection.products %}
      {% render 'product-card', product: foo %}
    {% endfor %}
{% endcomment %}

{% form 'product', product, id: {{product.id}}, class: 'card' %}
  <input type="hidden" min="1" type="number" id="quantity" name="quantity" value="1">
  <input type="hidden" name="id" value="{{ product.variants.first.id }}">
  {{ product | image_url: width: 1200 | image_tag: loading: 'lazy' }}
  <div class="card__content">
    <h3 class="display--small">{{ product.title }}</h3>
    <h4 class="title--small">{{ product.vendor }}</h4>
    <md-divider></md-divider>
    <div class="card__navigation">
      <div class="price display--small">{{ product.price | money }}</div>
      <md-filled-icon-button
        aria-label="add to cart"
        type="submit"
        name="add"
        id="add-to-cart-button-{{ product.id }}"
      >
        <md-icon>add_shopping_cart</md-icon>
      </md-filled-icon-button>
      <md-filled-button type="button" href="{{ product.url }}" aria-label="View Cart">View</md-filled-button>
    </div>
  </div>
{% endform %}
