{% comment %}
  Requires:
      -none

  Example:
      {% render 'component-product-highlight' %}
{% endcomment %}

{% assign current_variant = product.selected_or_first_available_variant %}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}
<div class="product-highlight-container">
  {{
    featured_image
    | image_url: width: 1200
    | image_tag: id: 'theme-image', loading: 'eager', class: 'product-highlight__image'
  }}
  <div class="product-highlight__track">
    {% form 'product', product, class: 'product-highlight' %}
      {% if product.metafields.custom.quick_description %}
        <div class="body--large">{{ product.metafields.custom.quick_description }}</div>
      {% endif %}

      {%- unless product.has_only_default_variant or product.options_with_values.size < 1 -%}
        {%- for option in product.options_with_values -%}
          <div class="product-highlight__options">
            <div class="label--medium">{{ option.name | escape }}</div>
            {%- for variant in product.variants -%}
              {% if variant == current_variant %}
                <md-filled-tonal-button
                  aria-label="{{ variant.title | escape }}"
                  type="button"
                  selected
                  style="pointer-events: none"
                >
                  {{- variant.title | escape -}}
                </md-filled-tonal-button>
              {% else %}
                <md-outlined-button
                  {% if variant.available == false %}
                    disabled
                  {% endif %}
                  {% if variant.available %}
                    href="{{ variant.url }}"
                  {% endif %}
                  type="button"
                  aria-label="{{ variant.title | escape }}"
                >
                  {{- variant.title | escape -}}
                </md-outlined-button>
              {% endif %}
            {%- endfor -%}
          </div>
        {%- endfor -%}
      {%- endunless -%}

      <input type="hidden" name="id" value="{{ current_variant.id }}">

      <div class="product-highlight__price-container">
        <md-outlined-text-field
          id="quantity-input"
          label="Qty"
          aria-label="Quantity"
          type="number"
          value="1"
          name="quantity"
        ></md-outlined-text-field>
        <div class="display--medium" id="quantity-price">{{ current_variant.price | money }}</div>
      </div>
      <div class="product-highlight__button-container">
        <md-filled-button aria-label="Add to Cart" type="submit" id="add-to-cart-button">Add to Cart</md-filled-button>
        {{ form | payment_button }}
      </div>

      <md-list class="product-highlight__pickup-availability" role="list">
        <md-list-item class="label--large" aria-label="Pickup Availability" role="listitem"
          >Pickup Availability</md-list-item
        >
        <md-divider></md-divider>
        {% assign pick_up_availabilities = current_variant.store_availabilities | where: 'pick_up_enabled', true %}
        {%- for availability in pick_up_availabilities -%}
          {%- if availability.available -%}
            <md-list-item class="yes-stock" aria-label="Available at {{ availability.location.name }}" role="listitem">
              <div class="body--medium" slot="headline">{{ availability.location.name }}</div>
              <div class="body--small" slot="supporting-text">
                {{ availability.pick_up_time }}
              </div>
              <md-icon slot="start">check_circle</md-icon>
            </md-list-item>
          {%- else -%}
            <md-list-item
              class="no-stock"
              aria-label="Not available at {{ availability.location.name }}"
              role="listitem"
            >
              <div slot="headline">{{ availability.location.name }}</div>
              <div class="body--small" slot="supporting-text">Out of Stock</div>
              <md-icon slot="start">cancel</md-icon>
            </md-list-item>
          {% endif %}
        {% endfor %}
      </md-list>
    {% endform %}
  </div>
</div>

{% style %}
  .product-highlight-container {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr;
    justify-items: stretch;
    align-items: stretch;
    background: var(--md-sys-color-surface);
    border-radius: var(--border-radius-xlarge);
  }

  .product-highlight__track {
    position: relative;
  }

  .product-highlight {
    display: grid;
    grid-template-rows: auto;
    grid-gap: var(--spacing-gap-medium);
    padding: var(--spacing-padding-large);
    position: sticky;
    top: 0;
    /* width: min(30dvw, 640px); */
  }

  .product-highlight__image {
    border-radius: var(--border-radius-xlarge);
    width: 100%;
    height: 100%;
  }

  .product-highlight__options {
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacing-gap-xsmall);

    & .label--medium {
      flex: 1 0 100%;
    }

    & md-filled-tonal-button,
    md-outlined-button {
      height: auto;
      font: var(--md-sys-typescale-label-small);
    }
  }

  .product-highlight__price-container {
    padding-top: var(--spacing-padding-medium);

    & md-outlined-text-field {
      max-width: 10ch;
    }
  }

  md-list-item {
    &.yes-stock {
      --md-list-item-leading-icon-color: var(--md-sys-color-success);
      --md-list-item-supporting-text-color: var(--md-sys-color-success);
    }

    &.low-stock {
      --md-list-item-leading-icon-color: var(--md-sys-color-warning);
      --md-list-item-supporting-text-color: var(--md-sys-color-warning);
    }

    &.no-stock {
      --md-list-item-leading-icon-color: var(--md-sys-color-error);
      --md-list-item-supporting-text-color: var(--md-sys-color-error);
    }
  }

  .product-highlight__price-container,
  .product-highlight__button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .product-highlight__button-container {
    flex-direction: column;
    align-items: stretch;
    gap: var(--spacing-gap-xsmall);
  }

  .product-highlight__pickup-availability {
    background: var(--md-sys-color-surface-container-low);
    color: var(--md-sys-color-on-surface);
    border-radius: var(--border-radius-medium);
  }

  shopify-accelerated-checkout {
    --shopify-accelerated-checkout-button-block-size: 44px;
    --shopify-accelerated-checkout-button-border-radius: var(--border-radius-medium);
    --shopify-accelerated-checkout-button-box-shadow: none;
    --shopify-accelerated-checkout-skeleton-background-color: var(--md-sys-color-primary);
    --shopify-accelerated-checkout-skeleton-animation-opacity-start: 1;
    --shopify-accelerated-checkout-skeleton-animation-opacity-end: 0.5;
    --shopify-accelerated-checkout-skeleton-animation-duration: 4s;
    --shopify-accelerated-checkout-skeleton-animation-timing-function: ease;
  }

  shopify-accelerated-checkout-cart {
    --shopify-accelerated-checkout-button-block-size: 42px;
    --shopify-accelerated-checkout-button-inline-size: 54px;
    --shopify-accelerated-checkout-button-border-radius: var(--border-radius-medium);
    --shopify-accelerated-checkout-button-box-shadow: none;
    --shopify-accelerated-checkout-inline-alignment: flex-start;
    --shopify-accelerated-checkout-row-gap: 8px;
    --shopify-accelerated-checkout-skeleton-background-color: #dedede;
    --shopify-accelerated-checkout-skeleton-animation-opacity-start: 1;
    --shopify-accelerated-checkout-skeleton-animation-opacity-end: 0.5;
    --shopify-accelerated-checkout-skeleton-animation-duration: 4s;
    --shopify-accelerated-checkout-skeleton-animation-timing-function: ease;
  }

  @container (max-width: 900px) {
    .product-highlight-container {
      grid-template-columns: 1fr;
    }
  }
{% endstyle %}
