<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- assign current_tags = current_tags | sort -%}
    {%- assign page_description = page_description | default: shop.description -%}
    {%- assign canonical_url = canonical_url | default: shop.url -%}

    <title>
      {{ page_title }}
      {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <link rel="canonical" href="{{ canonical_url }}">

    <link rel="alternate" hreflang="en" href="fakertons.myshopify.com">

    {{ content_for_header }}
    {{ 'style.css' | asset_url | stylesheet_tag }}
  </head>
  <body>
    {% render 'component-nav' %}

    {{ content_for_layout }}

    {% render 'component-footer' %}
    <script src="{{ 'main.js' | asset_url }}"></script>
  </body>
</html>
