<div class="tile__track">
  <div class="footer__section">
    {% comment %} TODO: Refactor these to pull from a Locations Metaobject {% endcomment %}
    <h2 class="display--medium">Locations</h2>
    <div class="footer__list">
      {% assign locations = shop.metaobjects.locations.values %}
      {% assign locations = locations | sort: 'display_order' %}
        {% for location in locations %}
          <div class="footer__location-container">
          <div class="footer__address">
          <div class="footer__location-name">{{ location.name }}</div>
            {{ location.address_line_1 }}<br>
             {% if location.address != blank %} {{ location.address_line_2 }}<br> {% endif %}
             {{ location.city }}, {{ location.state }} {{ location.zip }}<br>
             {{ location.phone }}<br>
          </div>
          <div class="footer__hours">
            <strong>{{ location.open_hours_days }}<br></strong>
            {{ location.open_hours_hours }}<br>
            <strong>{% if location.open_hours_days_02 != blank %}{{ location.open_hours_days_02 }}<br>{% endif %}</strong>
            {% if location.open_hours_hours_02 != blank %}{{ location.open_hours_hours_02 }}<br>{% endif %}
            <strong>{% if location.open_hours_days_03 != blank %}{{ location.open_hours_days_03 }}<br>{% endif %}</strong>
            {% if location.open_hours_hours_03 != blank %}{{ location.open_hours_hours_03 }}<br>{% endif %}
           </div>
           <a href="*" aria-label="Learn More about {{ location.name }}">Tour Inside</a>
           <a href="{{ location.booking_link }}" aria-label="Book an appointment at {{ location.name }}">Book Now</a>
         </div>
       {% endfor %}
      </div>
  </div>
  <div class="footer__section">
    <md-divider></md-divider>
    <h2 class="display--medium">Navigation</h2>
    <div class="footer__list" id="footer-nav">
      {%- for link in linklists['main-menu'].links -%}
      <div>
          <a
            class="footer-nav__menu-title"
            {% if link.active %}
              aria-current="page"
            {% endif %}
            aria-label="{{ link.title }}"
            href="{{ link.url }}"
          >{{ link.title }}
          </a>
          {%- if link.links != blank -%}
            <ul>
            {%- for child_link in link.links -%}
              <li
                {% if link.active %}
                  aria-current="page"
                {% endif %}
                aria-label="{{ child_link.title }}"
              >
                <a href="{{ child_link.url }}">{{ child_link.title }}</a>
              </li>
              {%- if child_link.links != blank -%}
                <ul>
                {%- for grandchild_link in child_link.links -%}
                  <li
                    {% if link.active %}
                      aria-current="page"
                    {% endif %}
                    aria-label="{{ grandchild_link.title }}"
                  >
                    <a href="{{ grandchild_link.url }}">{{ grandchild_link.title }}</a>
                  </li>
                {%- endfor -%}
                </ul>
              {%- endif -%}
            {%- endfor -%}
            </ul>
          {%- endif -%}
      </div>
      {%- endfor -%}
    </div>
  </div>
  <div class="footer__section footer__fine-print">
    <md-divider></md-divider>
    <div class="footer__list">
      {% for link in linklists['policy-menu'].links %}
        <a href="{{ link.url }}" aria-label="{{ link.title }}">
          {{- link.title -}}
        </a>
      {% endfor %}
    </div>
  </div>
  <div class="footer__section">
    <p>
      <i>
        &copy; {{ 'now' | date: '%Y' }}
        {{ shop.name }}. All rights reserved.
      </i>
    </p>
  </div>
</div>

{% stylesheet %}
  footer {
    background: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant);
    /* grid-row: -1; */
  }

  .footer__section {
    display: grid;
  }

  .footer__list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 1rem;

    & ul {

    }
  }

  .footer-nav__menu-title {
    font: var(--md-sys-typescale-headline-medium);
  }
  


  .footer__location-container {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: auto 1fr auto;
    overflow: hidden;
    margin: var(--spacing-margin-small);
    gap: var(--spacing-gap-xsmall);
  }

  .footer__location-name {
    font: var(--md-sys-typescale-headline-medium);
  }

  .footer__address,
  .footer__hours {
    grid-column: 1 / 3;
    font: var(--md-sys-typescale-body-medium);
  }

  .footer__hours {
    grid-column: 1 / 3;
  }

  #footer-nav {
    --md-list-item-label-text-size: var(--md-sys-typescale-body-medium-size);
  }

  #footer-nav md-list-item:first-child {
    --md-list-item-label-text-size: var(--md-sys-typescale-body-xlarge-size);
  }

  .footer__fine-print {
    --md-list-item-label-text-size: var(--md-sys-typescale-body-small-size);
    padding-bottom: 2rem;
  }

  @container tile-large (max-width: 1000px) {
    .footer__list {
      flex-direction: column;
    }
    
    #footer-nav {
      gap: 0;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Page Footer",
  "class": "tile tile--large tile--primary",
  "tag": "footer",
  "settings": [],
  "presets": [
    {
      "name": "Page Footer",
      "category": "tiles",
      "settings": {}
    }
  ]
}
{% endschema %}
