<div class="home-hero__logo-wrapper">
  <svg class="home-hero__logo" viewBox="0 0 332.6 214.37" role="img" height="100%" width="100%">
    <title>Collage Logo</title>
    <g>
      <path
        class="cs-logo__teal"
        d="m237.92,75.35l19.42-44.3,19.3,44.3h-38.71Zm50.22,26.39h10.81l-35.58-81.38h-4.53l-35.69,81.38h3.26l10.58-24.07h40.69l10.46,24.07Z" />
      <polygon
        class="cs-logo__yellow"
        points="201.36 109.45 201.36 30.39 191.02 30.39 191.02 111.78 236.88 111.78 236.88 109.45 201.36 109.45" />
      <polygon
        class="cs-logo__coral"
        points="178.59 99.4 178.59 20.34 168.24 20.34 168.24 101.72 217.37 101.72 217.37 99.4 178.59 99.4" />
      <path
        class="cs-logo__yellow"
        d="m119,158.23c-14.93,0-24.64-13.48-24.64-34.79s9.71-34.79,24.64-34.79,24.79,13.48,24.79,34.79-9.71,34.79-24.79,34.79Zm0,2.9c21.89,0,38.27-16.24,38.27-37.69s-16.38-37.69-38.27-37.69-38.13,16.24-38.13,37.69,16.38,37.69,38.13,37.69Z" />
      <polygon
        class="cs-logo__coral"
        points="253.32 189.77 253.32 151.37 290.41 151.37 290.41 149.01 253.32 149.01 253.32 111.8 299.86 111.8 299.86 109.44 242.81 109.44 242.81 192.13 301.04 192.13 301.04 189.77 253.32 189.77" />
      <path
        class="cs-logo__green"
        d="m151,159.62c-10.04,12.21-25.94,19.72-45.29,19.72-36.97,0-61.76-27.73-61.76-70.79s24.58-70.37,62.81-70.37c21.43,0,37.18,8.82,43.06,21.64-.63-.21-1.26-.21-1.89-.21-6.51,0-11.34,4.62-11.34,11.13s4.83,11.13,11.34,11.13,10.92-4.83,10.92-10.92v-.21c0-19.96-24.37-37.6-56.93-37.6-44.74,0-77.51,33.19-77.51,75.62s33.82,75.62,77.72,75.62c22.7,0,42.16-8.7,53.06-21.29l-4.2-3.47Z" />
      <path
        class="cs-logo__teal"
        d="m223.94,164.73v20.68c-2.94,6.53-10.67,10.45-21.01,10.45-19.16,0-31.46-14.59-31.46-36.69s12.63-36.91,33.31-36.91c10.67,0,18.83,3.81,21.77,10.34-.33-.11-.54-.11-.87-.11-3.48,0-5.99,2.4-5.99,5.77s2.5,5.77,5.99,5.77c3.16,0,5.55-2.4,5.55-5.77,0-10.67-12.52-18.62-28.85-18.62-23.73,0-41.04,16.87-41.04,39.19s17.53,39.19,40.5,39.19c10.67,0,19.81-3.48,24.28-8.82l6.21,7.73h1.09v-32.22h-9.47Z" />
    </g>
  </svg>
</div>

{% assign locations = shop.metaobjects.locations.values %}
{% assign locations = locations | sort: 'display_order' %}

{% for location in locations %}
  <div class="home-hero__tile">
    {{
      location.hero_image
      | image_url: width: '1200x'
      | image_tag: alt: 'Front door of the location', class: 'home-hero__image'
    }}
    <div class="home-hero__info-section" id="info-fred">
      <h2 class="display--small">{{ location.name }}</h2>
      {% comment %}
        <div class="body--medium">
          {{ location.address_line_1 -}}
          <br>
          {{- location.city -}}
          ,&nbsp;
          {{- location.state | upcase -}}
          &nbsp;
          {{- location.zip -}}
          <br>
          ({{ location.phone_number | slice: 0, 3 }})&nbsp;{{ location.phone_number | slice: 3, 3 }}-
          {{- location.phone_number | slice: 6, 4 }}
        </div>
      {% endcomment %}
      <div class="home-hero__button-wrapper">
        <md-text-button>Learn More</md-text-button>
        <md-filled-button>Book Now</md-filled-button>
      </div>
    </div>
  </div>
{% endfor %}

{% stylesheet %}
  .home-hero {
    grid-gap: var(--spacing-gap-medium);
    display: grid;
    grid-auto-flow: column;
    align-items: stretch;
    width: min(100dvw, 1920px);
    /* height: calc(100dvh - (var(--spacing-gap-medium) * 2)); */
    height: 90dvh;
    position: relative;
  }

  .home-hero__tile {
    position: relative;
    border-radius: var(--border-radius-xlarge);
    overflow: clip;
    padding: var(--spacing-padding-xsmall);
    transition: all 0.3s ease-out;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
  }

  .home-hero__image {
    object-fit: cover;
    object-position: center;
    border-radius: var(--border-radius-large);
    transition: all 250ms ease-out;
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  .home-hero__info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    padding: var(--spacing-padding-medium);
    gap: var(--spacing-gap-xxsmall);
    z-index: 2;
    background: var(--md-sys-color-surface);
    border-radius: var(--border-radius-large);
    color: var(--md-sys-color-on-surface);

    & h2 {
      margin-block-start: 0;
    }

    & .home-hero__button-wrapper {
      display: flex;
      justify-content: center;
      gap: var(--spacing-gap-xsmall);
    }
  }

  .home-hero__logo-wrapper {
    --logo-size: 200px;
    --negative-margin: calc(((var(--logo-size) * -1) - var(--spacing-gap-medium)) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--logo-size);
    width: var(--logo-size);
    background: var(--md-sys-color-surface);
    border-radius: 50%;
    z-index: 20;
    outline: var(--cs-blue) solid 0.2rem;
    outline-offset: -0.4rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .home-hero__logo {
    --relative-size: 90%;
    height: var(--relative-size);
    width: var(--relative-size);
    fill: var(--cs-blue);
    transform: translateX(-2%);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Home Hero",
  "class": "tile tile--large tile--primary home-hero",
  "settings": []
}
{% endschema %}
