<div class="tile__track">
  {% case section.settings.tile_type %}
    {% when 'content' %}
      <div class="rich-text-block">{{ page.content }}</div>
    {% when 'collections' %}
      <div class="collections-container">
        <md-outlined-button
          href="/collections/all"
          aria-label="All Collections"
        >
          All
        </md-outlined-button>
        {% for collection in collections %}
          <md-outlined-button
            href="{{ collection.url }}"
            aria-label="{{ collection.title }}"
          >
            {{- collection.title -}}
          </md-outlined-button>
        {% endfor %}
      </div>
    {% when 'vendors' %}
      <div class="collections-container">
        <md-outlined-button
          href="/collections/all"
          aria-label="All Vendors"
        >
          All
        </md-outlined-button>
        {% for vendor in shop.vendors %}
          <md-outlined-button
            href="/collections/vendors?q={{- vendor -}}"
            aria-label="{{ vendor }}"
          >
            {{- vendor -}}
          </md-outlined-button>
        {% endfor %}
      </div>
  {% endcase %}

  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'dropdown' %}
        {% capture question %}
                    <h3>{{ block.settings.dropdown_summary }}</h3>
                  {% endcapture %}
        {% capture answer %}
                    <div>{{ block.settings.dropdown_contents }}</div>
                  {% endcapture %}
        {% render 'component-dropdown', summary: question, contents: answer %}
      {% when 'headline' %}
        {% case block.settings.block_headline_size %}
          {% when 'h2' %}
            <h2>{{ block.settings.block_headline }}</h2>
          {% when 'h3' %}
            <h3>{{ block.settings.block_headline }}</h3>
          {% else %}
            <h4>{{ block.settings.block_headline }}</h4>
        {% endcase %}
      {% when 'richtext' %}
        {{ block.settings.copy }}
      {% when 'html_embed' %}
        {{ block.settings.html_embed_code }}
      {% when '@app' %}
        {% render block %}
    {% endcase %}
  {% endfor %}
</div>

{% stylesheet %}
  .collections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--spacing-gap-small);
    padding: var(--spacing-padding-xlarge);
  }
  @container (max-width: 1000px) {
    .collection-container {
      flex-direction: column;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Tile - Large",
  "class": "tile tile--large",
  "settings": [
    {
      "type": "select",
      "id": "tile_type",
      "label": "Tile Type",
      "options": [
        {
          "value": "blank",
          "label": "Blank"
        },
        {
          "value": "content",
          "label": "Page Content"
        },
        {
          "value": "collections",
          "label": "Collection List"
        },
        {
          "value": "vendors",
          "label": "Vendor List"
        }
      ]
    }
  ],
  "blocks": [
    {
      "name": "Headline",
      "type": "headline",
      "settings": [
        {
          "type": "select",
          "id": "block_headline_size",
          "label": "Headline Size",
          "options": [
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            }
          ]
        },
        {
          "type": "text",
          "id": "block_headline",
          "label": "Headline"
        }
      ]
    },
    {
      "name": "Rich Text",
      "type": "richtext",
      "settings": [
        {
          "type": "richtext",
          "id": "copy",
          "label": "Copy"
        }
      ]
    },
    {
      "name": "Dropdown",
      "type": "dropdown",
      "settings": [
        {
          "type": "text",
          "id": "dropdown_summary",
          "label": "Summary"
        },
        {
          "type": "richtext",
          "id": "dropdown_contents",
          "label": "Contents"
        }
      ]
    },
    {
      "name": "HTML Embed",
      "type": "html_embed",
      "settings": [
        {
          "type": "html",
          "id": "html_embed_code",
          "label": "Embed Code"
        }
      ]
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Tile - Large",
      "category": "tiles",
      "settings": {}
    }
  ]
}
{% endschema %}
