<div class="tile__track">
  {% case section.settings.tile_type %}
    {% when 'ingredients' %}
      {% if product.metafields.custom.ingredients %}
        <h2 class="display--small">What's Inside</h2>
        <md-list>
          {% for ingredient in product.metafields.custom.ingredients.value %}
            <md-list-item aria-label="{{ ingredient }}">
              <div slot="headline"><span style="font-weight: 1000">•</span> {{ ingredient }}</div>
            </md-list-item>
          {% endfor %}
        </md-list>

      {% else %}
        <style>
          #shopify-section-{{ section.id }} {display:none}
        </style>
      {% endif %}

    {% when 'product-photos' %}
      {% if product.images.size > 1 %}
        {% for image in product.images offset: 1 limit: 5 %}
          {{ image.src | image_url: width: 1200 | image_tag: loading: 'lazy' }}
        {% endfor %}

        <style>
          #shopify-section-{{ section.id }} {
            background: none;
            padding: 0;

            & .tile__track {
              display: flex;
              flex-wrap: wrap;
              gap: var(--spacing-gap-medium);
              width: auto;
            }

            & img {
              width: min(30dvw, 640px);
              flex: 1 1 auto;
              border-radius: var(--border-radius-large);
            }
          }
        </style>
      {% else %}
        <style>
          #shopify-section-{{ section.id }} {display:none}
        </style>
      {% endif %}
  {% endcase %}

  {% for block in section.blocks %}
    {% case block.type %}
      {% when 'dropdown' %}
        {% capture question %}
                  <h3>{{ block.settings.dropdown_summary }}</h3>
                {% endcapture %}
        {% capture answer %}
                  <div>{{ block.settings.dropdown_contents }}</div>
                {% endcapture %}
        {% render 'component-dropdown', summary: question, contents: answer %}
      {% when 'headline' %}
        {% case block.settings.block_headline_size %}
          {% when 'h2' %}
            <h2>{{ block.settings.block_headline }}</h2>
          {% when 'h3' %}
            <h3>{{ block.settings.block_headline }}</h3>
          {% else %}
            <h4>{{ block.settings.block_headline }}</h4>
        {% endcase %}
      {% when 'richtext' %}
        {{ block.settings.copy }}
      {% when 'html_embed' %}
        {{ block.settings.html_embed_code }}
      {% when '@app' %}
        {% render block %}
    {% endcase %}
  {% endfor %}
</div>
{% stylesheet %}
{% endstylesheet %}

{% schema %}
{
  "name": "Tile - Small",
  "class": "tile tile--small",
  "settings": [
    {
      "type": "select",
      "id": "tile_type",
      "label": "Type",
      "options": [
        {
          "value": "blank",
          "label": "Blank"
        },
        {
          "value": "ingredients",
          "label": "Ingredients"
        },
        {
          "value": "product-photos",
          "label": "Product Photos"
        }
      ]
    }
  ],
  "blocks": [
    {
      "name": "Headline",
      "type": "headline",
      "settings": [
        {
          "type": "select",
          "id": "block_headline_size",
          "label": "Headline Size",
          "options": [
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            },
            {
              "value": "h4",
              "label": "H4"
            }
          ]
        },
        {
          "type": "text",
          "id": "block_headline",
          "label": "Headline"
        }
      ]
    },
    {
      "name": "Rich Text",
      "type": "richtext",
      "settings": [
        {
          "type": "richtext",
          "id": "copy",
          "label": "Copy"
        }
      ]
    },
    {
      "name": "Dropdown",
      "type": "dropdown",
      "settings": [
        {
          "type": "text",
          "id": "dropdown_summary",
          "label": "Summary"
        },
        {
          "type": "richtext",
          "id": "dropdown_contents",
          "label": "Contents"
        }
      ]
    },
    {
      "name": "HTML Embed",
      "type": "html_embed",
      "settings": [
        {
          "type": "html",
          "id": "html_embed_code",
          "label": "Embed Code"
        }
      ]
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Tile - Small",
      "settings": {}
    },
    {
      "name": "Tile - Ingredients",
      "settings": {
        "tile_type": "ingredients"
      }
    },
    {
      "name": "Tile - Product Photos",
      "settings": {
        "tile_type": "product-photos"
      }
    }
  ]
}
{% endschema %}
