{% case section.settings['tile-type'] %}
  {% when 'ingredients' %}
    {% if product.metafields.custom.ingredients %}
      <div class="tile__track">
        <h2 class="display--small">What's Inside</h2>
        <md-list>
          {% for ingredient in product.metafields.custom.ingredients.value %}
            <md-list-item aria-label="{{ ingredient }}">
              <div slot="headline"><span style="font-weight: 1000">•</span> {{ ingredient }}</div>
            </md-list-item>
          {% endfor %}
        </md-list>
      </div>
    {% else %}
      <style>
        #shopify-section-{{ section.id }} {display:none}
      </style>
    {% endif %}

  {% when 'product-photos' %}
    {% if product.images.size > 1 %}
      <div class="tile__track">
        {% for image in product.images offset: 1 limit: 5 %}
          {{ image.src | image_url: width: 1200 | image_tag: loading: 'lazy' }}
        {% endfor %}
      </div>
      <style>
        #shopify-section-{{ section.id }} {
          background: none;
          padding: 0;

          & .tile__track {
            display: flex;
            flex-wrap: wrap;
            gap: var(--spacing-gap-medium);
            width: auto;
          }

          & img {
            width: min(30dvw, 640px);
            flex: 1 1 auto;
            border-radius: var(--border-radius-large);
          }
        }
      </style>
    {% else %}
      <style>
        #shopify-section-{{ section.id }} {display:none}
      </style>
    {% endif %}
  {% else %}
    <div class="tile__track">
      {% case section.settings.header_size %}
        {% when 'h2' %}
          <h2 class="display--medium">{{ section.settings.headline }}</h2>
        {% when 'h3' %}
          <h3 class="display--small">{{ section.settings.headline }}</h3>
        {% else %}
          <h4>{{ section.settings.headline }}</h4>
      {% endcase %}
      <div class="rich-text-block">{{ section.settings.copy }}</div>
    </div>
{% endcase %}

{% stylesheet %}
{% endstylesheet %}

{% schema %}
{
  "name": "Tile - Small",
  "class": "tile tile--small",
  "settings": [
    {
      "type": "select",
      "id": "tile-type",
      "label": "Type",
      "options": [
        {
          "value": "blank",
          "label": "Blank"
        },
        {
          "value": "ingredients",
          "label": "Ingredients"
        },
        {
          "value": "product-photos",
          "label": "Product Photos"
        }
      ]
    },
    {
      "type": "text",
      "id": "headline",
      "label": "Headline"
    },
    {
      "type": "select",
      "id": "header_size",
      "label": "Header Size",
      "options": [
        {
          "value": "h2",
          "label": "H2"
        },
        {
          "value": "h3",
          "label": "H3"
        },
        {
          "value": "h4",
          "label": "H4"
        }
      ]
    },
    {
      "type": "richtext",
      "id": "copy",
      "label": "Copy"
    }
  ],
  "presets": [
    {
      "name": "Tile - Small",
      "category": "tiles",
      "settings": {
        "headline": "This is a Small Tile",
        "header_size": "h4",
        "copy": "<p>Use this tile for minor pieces of page content.</p><p>Perfect for asides like Highlight Lists.</p>"
      }
    },
    {
      "name": "Tile - Ingredients",
      "category": "tiles",
      "settings": {
        "tile-type": "ingredients"
      }
    },
    {
      "name": "Tile - Product Photos",
      "category": "tiles",
      "settings": {
        "tile-type": "product-photos"
      }
    }
  ]
}
{% endschema %}
