<div class="tile__track">
  {% case section.settings.tile_type %}
    {% when 'content' %}
      <div class="rich-text-block">{{ page.content }}</div>
    {% when 'collections' %}
      <div class="collections-container">
        <md-outlined-button
          href="/collections/all"
          aria-label="All Collections"
        >
          All
        </md-outlined-button>
        {% for collection in collections %}
          <md-outlined-button
            href="{{ collection.url }}"
            aria-label="{{ collection.title }}"
          >
            {{- collection.title -}}
          </md-outlined-button>
        {% endfor %}
      </div>
    {% when 'vendors' %}
      <div class="collections-container">
        <md-outlined-button
          href="/collections/all"
          aria-label="All Vendors"
        >
          All
        </md-outlined-button>
        {% for vendor in shop.vendors %}
          <md-outlined-button
            href="/collections/vendors?q={{- vendor -}}"
            aria-label="{{ vendor }}"
          >
            {{- vendor -}}
          </md-outlined-button>
        {% endfor %}
      </div>
  {% endcase %}
  {% content_for 'blocks' %}
</div>

{% stylesheet %}
  .collections-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: var(--spacing-gap-small);
    padding: var(--spacing-padding-xlarge);
  }
  @container (max-width: 1000px) {
    .collection-container {
      flex-direction: column;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Tile - Special",
  "class": "tile tile--large",
  "settings": [
    {
      "type": "select",
      "id": "tile_type",
      "label": "Tile Type",
      "options": [
        {
          "value": "blank",
          "label": "Blank"
        },
        {
          "value": "content",
          "label": "Page Content"
        },
        {
          "value": "collections",
          "label": "Collection List"
        },
        {
          "value": "vendors",
          "label": "Vendor List"
        }
      ]
    }
  ],
  "blocks": [
    { "type": "@theme" },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Tile - Page Content",
      "settings": {
        "tile_type": "content"
      }
    },
    {
      "name": "Tile - Collections",
      "settings": {
        "tile_type": "collections"
      }
    },
    {
      "name": "Tile - Vendors",
      "settings": {
        "tile_type": "vendors"
      }
    }
  ]
}
{% endschema %}
