{% assign current_variant = product.selected_or_first_available_variant %}

{% render 'component-header', overline: product.type, title: product.title, subheader-vendor: product.vendor %}
{% render 'component-product-highlight' %}

{% capture tile-content--overview %}
  <h2 class="display--small">Overview</h2>
  <p>
    {{ product.description }}
  </p>
{% endcapture %}

{% render 'component-tile', tile-content: {{tile-content--overview}} %}

{% if product.metafields.custom.ingredients %}
  {% capture tile-content--ingredients %}
    <h2 class="display--small">What's Inside</h2>
    <md-list>
      {% for ingredient in product.metafields.custom.ingredients.value %}
        <md-list-item>
          <div slot="headline"><span style="font-weight: 1000">•</span> {{ ingredient }}</div>
        </md-list-item>
      {% endfor %}
    </md-list>
  {% endcapture %}

  {% render 'component-tile', tile-content: {{tile-content--ingredients}} %}
{% endif %}

{% if product.metafields.custom.deep_dive %}
  {% capture tile-content--deeper-dive %}
    <h2 class="display--small">Deeper Dive</h2>
    {{ product.metafields.custom.deep_dive | metafield_tag }}
  {% endcapture %}

  {% render 'component-tile', tile-content: {{tile-content--deeper-dive}} %}
{% endif %}

{% if product.images.size > 1 %}
  {% for image in product.images offset: 1 limit: 5 %}
    {{ image.src | image_url: width: 1200 | image_tag: class: 'tile', loading: 'lazy' }}
  {% endfor %}
{% endif %}

<div class="tile tile--large card-container__grid card-container__grid--solo">
  <h2 class="card display--medium">Find Your Next Favorite Here</h2>
  {% for product in collections['hand-care'].products limit: 3 %}
    {% unless product.handle == current_variant.handle %}
      {% render 'component-card', product: product %}
    {% endunless %}
  {% endfor %}
</div>

{% comment %} <div class="overlay-grain"></div> {% endcomment %}

{% comment %}
  {% style %}
    .underlay-color {
      position: fixed;
      inset: 0;
      background-image: url('{{ featured_image | image_url: width: 100 }}');
      filter: blur(1000px);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      z-index: 0;
      mix-blend-mode: hard-light;
    }

    .overlay-grain {
      position: fixed;
      inset: 0;
      opacity: 0.4;
      z-index: 9001;
      pointer-events: none;
      filter: grayscale(100%);
      mix-blend-mode: overlay;
      background: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='3.63' numOctaves='6' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    }
  {% endstyle %}
{% endcomment %}
